{%extends 'video_creator/base.html'%} {%block content%}
<div class="d-flex flex-column">
  <div class="card">
    <p>123</p>
    <blockquote class="reddit-embed-bq" data-embed-height="316">
      Posts from the
      <a
        href="https://www.reddit.com/r/AskUK/comments/176su0r/what_is_the_dumbest_interaction_youve_had_with_a/"
        >askuk</a
      ><br />
      community on Reddit
    </blockquote>
    <script
      async=""
      src="https://embed.reddit.com/widgets.js"
      charset="UTF-8"
    ></script>
  </div>
</div>
{%endblock%}
